
<div class="col-xs-12 col-md-10 well donate1" id="box1">
    @Html.Action("getContent", "Home", new { page = "Give", id = "box1" })
</div>
<br />
<br />
<div class="col-xs-12 donateRow" style="margin-top:30px;">
    <div class=" col-xs-3 donate" id="box2">
        @Html.Action("getContent", "Home", new { page = "Give", id = "box2" })
    </div>
    <div class=" col-xs-3 donate" id="box3">
        @Html.Action("getContent", "Home", new { page = "Give", id = "box3" })
    </div>
    <div class=" col-xs-3 donate" id="box4">
        @Html.Action("getContent", "Home", new { page = "Give", id = "box4" })
    </div>
</div>
<br />
<div class="col-xs-12 col-md-4 well" id="box5" style="top:30px;">
    @Html.Action("getContent", "Home", new { page = "Give", id = "box6" })
</div>
<div class="col-xs-12 col-md-4 col-md-offset-1 well" id="box6" style="top:30px;">
    @Html.Action("getContent", "Home", new { page = "Give", id = "box7" })
</div>

